name: CI

on:
  push:
    branches: ['**']
  pull_request:

jobs:
  docker-build-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker containers
        run: docker compose build

      - name: Run Docker containers
        run: docker compose up -d
